/*Custom styles*/

.sidebar {
	background-color: #343a40;
	height: 100vh;
}

.sidebar-menu ul li {
	padding: 10px;
	border-bottom: 1px solid white;
}

.sidebar-menu ul li a {
	color: white;
}

.sidebar-menu ul li a:hover {
	color: #343a40;
	background-color: white;
}


.